!!!
%html
  %head
    %title Folksonomatron
    %link{:rel => 'stylesheet', :href => '/stylesheets/stylesheet.css', :type => 'text/css', :media => "screen, projection"}

  %body
    
    #content
    
      %h1 Folksonomatron
      
      %p Enter a URL and get back its delicious tags..
      
      %form{:action => "/mungepost", :method => "post"}
        %input{:type => "text", :name => "url", :class => "text", :value => (@url || ""), :title => "Enter a URL"}
        %input{:type => "submit"}
    
      = yield