!!!
%html
  %head
    %title Folksonomatron
    %link{:rel => 'stylesheet', :href => '/stylesheets/stylesheet.css', :type => 'text/css', :media => "screen, projection"}

  %body
    
    #content
    
      %h1 Folksonomatron
    
      = yield