!!!
%html
  %head
    %title folksonomatron
    %link{:rel => 'stylesheet', :href => '/stylesheets/stylesheet.css', :type => 'text/css', :media => "screen, projection"}

  %body
    
    #content
    
      %h1 folksonomatron
      
      
      %form{:action => "/mungepost", :method => "post"}
        %input{:type => "text", :name => "url", :class => "text", :value => (@url || ""), :placeholder => "Enter a URL, get back its tags as JSON"}
    
      = yield